@charset "utf-8";

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../fonts/OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("../fonts/SourceSansPro-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  outline: none;
}

button:focus {
  border: 1px solid #cfb8a6;
}

a:focus {
  text-decoration: underline;
}

body {
  background: url("../assets/bacground/bgn.webp");
}

i {
  font-family: "FontAwesome";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  width: 100%;
  max-width: 1170px;
  margin: 0px auto;
}

/*--------------------------HEADER------------------------------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.header_logo {
  background: #da4271;
  font-family: "OpenSans-ExtraBold";
  font-size: 26px;
  line-height: auto;
  color: #fff;
  box-shadow: 10px 10px #cbbbae;
  padding: 20px 14px;
}

.header_menu {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.header > * {
  margin: 52px 0;
}

.menu_item {
  background: transparent;
  font-family: "OpenSans-Light";
  font-size: 14px;
  line-height: auto;
  padding: 25px 15px;
  border: 1px groove #f5ece5;
  color: #6c354c;
}

.menu_item a {
}

.menu_item:hover {
  color: #dc5e81;
  cursor: pointer;
}

.active {
  color: #dc5e81;
}

/*-----------------BANNER--------------------*/

.banner {
  border-top: 1px groove #f5ece5;
  border-bottom: 1px groove #f5ece5;
  padding: 12px 0;
}

.banner_content {
  display: flex;
  height: 100%;
  z-index: -1;
}

.banner_item {
  flex: 1 1 auto;
}

.banner_current {
  padding: 0 10px;
}

.banner_current img {
  width: 100%;
  max-width: 1170px;
  height: 100%;
  object-fit: cover;
}

.banner_sides img {
  width: 100%;
  max-width: 360px;
  height: 100%;
  object-fit: cover;
}

.banner_title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: -20% 0px 0px 0px;
}

.main_title {
  background: #da4271;
  font-family: "OpenSans-ExtraBold";
  font-size: 26px;
  color: #fff;
  padding: 15px 20px 15px 15px;
}

.second_title {
  background: #591d39;
  font-family: "OpenSans-Light";
  font-size: 18px;
  color: #c0a3a0;
  padding: 15px 20px 15px 15px;
}

.buttons_container {
  display: flex;
  justify-content: center;
}
.bunner_buttons {
  background: url("../assets/bacground/bgn.webp");
  margin: 0px auto;
  border: 1px groove #f5ece5;
  border-top: none;
  z-index: 50;
  margin-top: -1px;
  padding: 2px 14px 5px 14px;
}
.bunner_button {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #e8d6c8;
  cursor: pointer;
  border: 1px solid #cfb8a6;
  border-radius: 100%;
}

.bunner_button:focus {
  background: #cfb8a6;
}

.bunner_button.active {
  background: #da4271;
  border-color: #da4271;
}

/*----------------FIRST_ROW-----------------------------*/

.firsr_row {
  border-bottom: 1px groove #f5ece5;
  padding-bottom: 64px;
}

.firsr_row > * {
  margin-top: 60px;
}

.row_content {
  display: flex;
  justify-content: center;
}

.row_text {
  font-family: "OpenSans-Light";
  font-size: 26px;
  line-height: auto;
  color: #de6988;
}

.row_title {
  font-family: "OpenSans-ExtraBold";
  color: #591d39;
}

.row_buttons {
  display: flex;
  align-items: center;
}

.row_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: transparent;
  cursor: pointer;
  border: 3px solid #cfb8a6;
  border-radius: 50%;
  font-size: 20px;
  color: #da4271;
}

.row_button:hover {
  font-size: 24px;
  /*border-color: #c0ab9b;*/
}

.row_buttons > *:not(:last-child) {
  margin-right: 10px;
}

.row_buttons > *:last-child {
  margin-right: 30px;
}

/*------------ROW_2------------------------*/
.second_row {
  display: flex;
  justify-content: center;
}

.form_info {
  display: flex;
  flex-direction: column;
}

.form_content {
  display: flex;
  margin-top: 60px;
}

.card_content {
  display: flex;
  align-items: stretch;
}

._card_container {
  margin-top: -44px;
}

.card_button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  text-align: center;
  background: #da4271;
  z-index: 1000;
  border: none;
}

.card_button:hover {
  font-size: 18px;
}

.card_button i {
  color: #fff;
}

.card_content {
  display: flex;
}

.card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_main_content {
  width: 100%;
  max-width: 600px;
  background: #591d39;
  padding: 32px 30px 0px 30px;
}

.card_text_content {
  font-family: "SourceSansPro-Regular";
  font-size: 15px;
  line-height: 20px;
  color: #8f6f7e;
  font-weight: 400;
}

.card_text_content p {
  margin-top: 28px;
}

.card_main_title {
  font-family: "OpenSans-ExtraBold";
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}

.card_title {
  font-family: "OpenSans-Light";
  font-size: 22px;
  font-weight: 800;
  color: #af365e;
}

.more_button {
  background: transparent;
  font-family: "OpenSans-ExtraBold";
  font-size: 14px;
  color: #fff;
  width: 78px;
  height: 32px;
  cursor: pointer;
  border: 1px solid #743b56;
  padding: 0px 5px 0px 10px;
  margin: 28px 0;
}

.more_button i {
  color: #da4271;
}

.more_button:hover {
  background: #4f1932;
}

/*----FORM-----*/
.form_fields {
  display: flex;
}

.form_container {
  align-self: center;
  display: flex;
  flex-direction: row;
  margin-left: -40px;
}

.form {
  align-self: center;
  background: #da4271;
  padding: 40px 30px;
}

.pre_form {
  width: 40px;
  background: #cf3263;
  transform: skewY(30deg);
  margin-bottom: 12px;
  margin-top: -11px;
  box-shadow: inherit;
  z-index: 1000;
}

.form_title {
  font-family: "OpenSans-ExtraBold";
  font-size: 22px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 800;
}

.form_item {
  display: flex;
  align-items: center;
}

.form_input_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
  color: rgba(255, 255, 255, 0.34);
  border: 1px solid rgba(255, 255, 255, 0.34);
  margin-top: 20px;
}

.form_name input,
.form_email input {
  font-family: "SourceSansPro-Regular";
  background: #da4271;
  color: #fff;
  width: 205px;
  height: 36px;
  font-size: 15px;
  border: 1px solid rgba(255, 255, 255, 0.34);
  margin-top: 20px;
  padding-left: 10px;
  outline: none;
}

.form_name input::placeholder,
.form_email input::placeholder,
.form_text textarea::placeholder {
  color: #e782a1;
  font-size: 15px;
}

.textarea_button {
  align-self: flex-start;
  margin-left: -40px;
}

.form_text textarea {
  font-family: "SourceSansPro-Regular";
  background: #da4271;
  color: #fff;
  width: 202px;
  height: 75px;
  font-size: 15px;
  border: 1px solid rgba(255, 255, 255, 0.34);
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 45px;
  resize: none;
  outline: none;
}

.form_name input:focus,
.form_email input:focus,
.form_text textarea:focus {
  border: 1px solid #d66767;
}

button.form_submit {
  background: #da4271;
  font-family: "OpenSans-ExtraBold";
  font-size: 14px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.34);
  padding: 14px 18px;
  margin-top: 20px;
  cursor: pointer;
}

button.form_submit:hover {
  border-color: #d66767;
}

button.form_submit:focus {
  border-color: #d66767;
}
/*-------ROW_3------------*/
/*COL_1*/
.third_row {
  margin-top: 60px;
  border-top: 1px groove #f5ece5;
  padding-top: 60px;
}

.info_table {
  display: flex;
  padding-bottom: 60px;
}

.col_header {
  font-family: "OpenSans-ExtraBold";
  font-size: 22px;
  color: #591d39;
}

.col_content {
}

.content_cards {
  display: flex;
  margin-top: 30px;
}

.col_text_context {
  font-family: "SourceSansPro-Regular";
  font-size: 15px;
  color: #8f6f7e;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  max-width: 270px;
  margin-left: 30px;
}

.more_info a {
  color: inherit;
}

.more_info a:hover {
  color: #da4271;
}

.row_button.date_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #da4271;
  font-family: "OpenSans-ExtraBold";
  font-size: 14px;
  color: #fff;
  text-align: center;
  border: none;
  cursor: default;
}

.date_button .month {
  font-family: "OpenSans-Light";
}

/*---COL_2----*/
.col_second {
  margin-left: 30px;
}

.blog_item {
  margin-top: 30px;
  padding-bottom: 33px;
}

.blog > *:not(:last-child) {
  border-bottom: 1px groove #f5ece5;
}

.col_text_context.blog_text {
  margin-left: 0px;
  max-width: 370px;
}

.blog_info {
  display: flex;
  margin-top: 10px;
}

.blog_info > *:not(:last-child) {
  margin-right: 25px;
}

.info_text {
  font-family: "SourceSansPro-Regular";
  font-size: 12px;
  color: #da4271;
  font-weight: 300;
}

.info_icon {
  font-size: 12px;
  color: #591d39;
}
/*-----COL_3---*/
.col_third {
  margin-left: 30px;
}

.col_content.lorem {
  margin-top: 25px;
}

.lorem_list > *:not(:last-child) {
  border-bottom: 1px groove #f5ece5;
}

.lorem_item {
  margin-top: 15px;
  padding-bottom: 15px;
}

.lorem_item a {
  color: inherit;
}

.lorem_text {
  margin-left: 0px;
  max-width: 370px;
  font-family: "SourceSansPro-Regular";
  font-size: 15px;
  line-height: 20px;
  color: #8f6f7e;
}

.lorem_text:hover a {
  color: #da4271;
}

.lorem_icon {
  font-size: 14px;
  color: #da4271;
}

/*-------------------------FOOTER-------------------------------*/
/*-----lower_footer---------*/
.lower_footer {
  background: #591d39;
  padding-top: 60px;
  padding-bottom: 60px;
}

.lower_footer_content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.footer_card ._card_container {
  padding-top: 30px;
}

._footer_card_content {
  display: flex;
  margin-top: 30px;
}

._footer_card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_title.footer_title {
  font-size: 22px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 800;
  font-family: "OpenSans-ExtraBold";
}
.footer_card_main_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background: #591d39;
  padding: 0px 20px 0px 20px;
}

.footer_text {
  justify-self: flex-start;
  font-family: "SourceSansPro-Regular";
  font-size: 15px;
  line-height: 20px;
  color: #8f6f7e;
  font-weight: 400;
}

.footer_button {
  background: transparent;
  font-family: "OpenSans-ExtraBold";
  font-size: 14px;
  color: #fff;
  width: 78px;
  height: 32px;
  cursor: pointer;
  border: 1px solid #743b56;
  padding: 5px 5px 5px 10px;
  margin-top: 28px;
  justify-self: flex-end;
}

.footer_button:hover {
  background: #4f1932;
}

.footer_button i {
  color: #c93d6a;
}

.footer_text p {
  margin-top: 0px;
}

.footer_title {
  border-bottom: 1px groove #391123;
  padding-bottom: 30px;
}

.footer_card {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.under_footer {
  background: #4f1932;
}

.under_footer_content {
  font-size: 15px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  font-family: "OpenSans-Regilar";
  text-align: center;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 10px;
  padding-right: 10px;
}

.under_footer_main {
  font-family: "OpenSans-ExtraBold";
}
